.dump
.DS_Store
.bundle
.rvmrc
.ruby-version
.ruby-gemset
.envrc
*.orig
*.map
*~
bin/
!doc/ag_redirects_from_infra
doc/
tmp
public/css/
public/javascripts/
public/assets/
coverage
server
spec/vcr_cassettes
test/vcr_cassettes
.idea
.sass-cache/
*.tmproj
tags
.tags
transferred_assets_log
.yardoc
vendor/ruby
vendor/bundle
vendor/javascripts
node_modules

# Vim
*.swp
*.swo
npm-debug.log
